{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row mt-1">
        <a type="button" class="btn btn-secondary btn-lg col-md accordionBtn mr-2 mech-jobs mech-open-jobs" href="/mechanic/">Open Jobs</a>
        <a type="button" class="btn btn-secondary btn-lg col-md accordionBtn mr-2 mech-jobs mech-open-bids" href="/mechanic/openbids">Open Bids</a>
        <a type="button" class="btn btn-secondary btn-lg col-md accordionBtn mr-2 mech-jobs mech-active-jobs" href="/mechanic/activejobs">Active Jobs</a>
        <a type="button" class="btn btn-primary btn-lg col-md accordionBtn mech-jobs mech-completed-jobs" href="/mechanic/completedjobs">Completed Jobs</a>
    </div>
    <!-- Example row of columns -->
    <div class="row">
        {% for job in jobs %}
        <div class="col-md-4 my-2">
            <div class="card job-tiles d-flex flex-column shadow text-left">
                <h2>Job: {{ job.job_title }}</h2>
                <p>Description: {{ job.job_description }}</p>
                <p>Client: {{ job.client_name}}</p>
                <p>Client Mobile No: {{ job.client_phone_number }}</p>
                <p>Amount: {{job.bid_amount}}</p>

                <div class="mt-auto text-right p-2">
                    <button type="button" class="bidForJob btn btn-outline-success" data-id="{{ job.id }}" data-mech-id="{{current_user.id}}"data-toggle="modal" data-target="#bidModal">Contact Admin</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Contact Admin Modal -->
    <div class="modal fade" id="bidModal" tabindex="-1" aria-labelledby="bidModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bidModalLabel">Contact Admin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="form1">
                        <div class="form-group">
                            <label for="formprice">Reason</label>
                            <input type="text" class="form-control" name="bid_amount" id="formprice" placeholder="Reason to contact Admin">
                            <label for="formprice">Description</label>
                            <input type="text" class="form-control" name="bid_amount" id="formprice" placeholder="Describe your issue">
                            <input type="hidden" name="mechanic_id" value="{{ current_user.id }}">
                            <input type="hidden" id="job_id" name="job_id" class="form-control">
                        </div>
                        <br><button type="submit" class="submitbutton btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
